---
id: "root"
---
<html>

<head>
    <link rel="stylesheet" href="src/css/normalize.css">
    <link rel="stylesheet" href="src/css/index.css">
    {{!-- <script src="src/index.js" type="module"></script> --}}
</head>

<body>
    <div id="{{ id }}">
        <button class="confirm">Confirm</button>
    </div>
</body>

</html>